body {
  font-family: Arial, sans-serif;
  background-image: url("/public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  text-align: center;
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  font-size: medium;
  gap: 25px;
  margin: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s;
  color:#1e1e2f;
  font-size: 25px;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

button {
  background: #000000;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.cart-btn {
  background: #ff9800;
  margin-top: 20px;
}

.cart {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 380px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.cart-item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.cart-item img {
  width: 60px;
}

.qty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty button {
  padding: 5px 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.done-btn {
  background: #000000;
  width: 100%;
  margin-top: 10px;
}

.back-btn {
  background: #9e9e9e;
  width: 100%;
  margin-top: 8px;
}
.heading{
  color:white;
}
.navbar {
  position: sticky;
  top: 0;
  background: #000000cb;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  cursor: pointer;
}

.cart-nav {
  cursor: pointer;
  background: #ff9800;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
}
